# Build directories
Debug/
Release/

# Binaries
*.elf
*.bin
*.hex
*.map

# CubeIDE settings (optional)
.settings/
.project
.cproject

# Eclipse/IDE metadata
.metadata/

# Logic analyzer files
session_1.pvs
session_1.sr
